{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>PET RECOGNITION🐶🐱</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detectar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Matemasie&family=New+Amsterdam&display=swap" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="card__header"></div>
        <div class="card__body">
            <div class="camera-view">
                <video id="camera" autoplay playsinline style="display: none;"></video>
                <!-- Botón para voltear la cámara con ícono -->
                <button id="flipCameraBtn" class="btn-reversa">
                    <!-- Ícono SVG de voltear cámara -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20px" width="20px" fill="currentColor">
                        <path d="M12 4.5a7.5 7.5 0 0 0-6.65 4.06l-.81-.81V12h4.24l-1.85-1.85A6.002 6.002 0 0 1 18 12c0 3.31-2.69 6-6 6-.53 0-1.05-.07-1.55-.21l-1.47 1.47c.92.49 1.96.74 3.02.74 4.14 0 7.5-3.36 7.5-7.5S16.14 4.5 12 4.5zm-1.5 1.75h3V2.75h-3v3.5zM3.5 7.75l2.25 2.25L8 7.75 6.75 6.5 4.5 8.75 3.5 7.75z"/>
                    </svg>
                </button>
                <canvas id="photo" style="display: none;"></canvas>
            </div>
            <div class="controls">
                <div class="eye-contour"></div>
                <button id="toggleCameraBtn" class="eye-btn">👁️</button>
                <button id="takePhotoBtn" class="btn">Tomar Foto</button>
                <button id="closeCameraBtn" class="btn">Cerrar</button>
            </div>
        </div>
    </div>
    

    <!-- Contenedor del botón Go Back -->
    <div class="go-back-container">
        <a href="{% url 'vistaPrincipal' %}">
            <button class="go-back-btn">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="25px" width="25px">
                        <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" fill="white"></path>
                        <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" fill="white"></path>
                    </svg>
                </div>
                <p>REGRESAR</p>
            </button>
        </a>
    </div>
</body>
<script type="module" src="{% static 'JS/detector_camara.js' %}"></script>
